# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
*.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
# Comentado para permitir subir configuración de Android/iOS al repo
# /ios
# /android

# Pero ignorar el archivo con la API key de Google Maps
android/app/src/main/res/values/google_maps_api.xml
# Subir el archivo de ejemplo
!android/app/src/main/res/values/google_maps_api.xml.example
